.username
{
    min-width: 300px
}
.action-link {
  padding:10px;
}
.list-user{
    margin:10px;
    background-color:cadetblue;
}
table {
  width: 97%;
  background-color: aquamarine;
  padding-left: 10px;
}
table th{
  font-weight: bold;
}